dump.rdb
/.bundle
.env
.foreman
config/config.yml
config/database.yml
/db/*.sqlite3
/log/*.log
/tmp
.DS_Store
*.swo
*.swp
*.un~
.powder
.powenv
erd.pdf
/.idea
junk/
design/
doc/
public/assets
public/assets/*
*.sublime-workspace
README.md.mz
erd/

